[build]
  command = "npm run build"
  publish = "dist"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

# Form notifications
[[plugins]]
  package = "@netlify/plugin-form-submissions"

[plugins.inputs.to]
  email = "eriselda@betatechal.com"
